<ul class="report-panel">
  <h1 ng-if="(SelectedFiles.selected | find_transfers).length != 0">Transfers:</h1>
  <li ng-repeat="record in SelectedFiles.selected | find_transfers">
    {{ record.label }}:
      <a ng-if="record.original_order" href="{{ record.original_order }}">original order</a>
      <a ng-if="!record.original_order" class="disabled">original order</a>
  </li>
  <h1 ng-if="(SelectedFiles.selected | find_files).length != 0">Files</h1>
  <li ng-repeat="record in SelectedFiles.selected | find_files">
    {{ record.label }}:
      <a ng-if="record.bulk_extractor" href="{{ record.bulk_extractor}}">Bulk Extractor logs</a>
  </li>
</ul>
