<ul class="nav nav-pills">
  <li ng-class="{ active: type === 'pii' }">
    <a href="#{{ $routeSegment.getSegmentUrl('examine_contents', {type: 'pii'}) }}">PII</a>
  </li>
  <li ng-class="{ active: type === 'ccn' }">
    <a href="#{{ $routeSegment.getSegmentUrl('examine_contents', {type: 'ccn'}) }}">Credit card numbers</a>
  </li>
</ul>

<div ng-if='type'>
  <h2 ng-if="(SelectedFiles.selected | find_transfers).length != 0">Transfers:</h2>
  <ul>
    <li ng-repeat="record in SelectedFiles.selected | find_transfers">
    {{ record.title }}:
      <a ng-if="record.original_order" href="{{ record.original_order }}">original order</a>
      <a ng-if="!record.original_order" class="disabled">original order</a>
    </li>
  </ul>
  <p ng-if='(SelectedFiles.selected | find_transfers).length == 0'>No information found for selected Transfers.</p>

  <div ng-if="(SelectedFiles.selected | find_files).length != 0">
  <h2>Files</h2>
  <input type="checkbox"
         name="checked_files[]"
         value="Select all"
         ng-checked="all_selected"
         ng-click="select_all((SelectedFiles.selected | find_files | filter:{bulk_extractor_reports: type}))">
  Select all
  <ul>
    <li ng-repeat="record in SelectedFiles.selected | find_files | filter:{bulk_extractor_reports: type}">
    <input checklist
         name="checked_files[]"
         ng-model="record"
         ng-checked="selected.indexOf(record.id) > -1"
         record-count="SelectedFiles.selected.length"
         selected-list="selected"
         all-selected="all_selected">
    <a href="#{{ $routeSegment.getSegmentUrl('examine_contents.file_info', {id: record.id, type: type}) }}">{{ record.title }}</a>
      (<a href="#{{ $routeSegment.getSegmentUrl('preview', {id: record.id}) }}">Preview</a>):
      <a ng-if="record.bulk_extractor" href="{{ record.bulk_extractor}}">Bulk Extractor logs</a>
    </li>
  </ul>

  <input class='btn btn-sm btn-default' type="button" value="Add checked files to file list" ng-click="add_to_file_list(selected)">

  <form ng-submit="submit(selected)">
    <input type="text"
           ng-model="tag"
           ng-disabled="selected.length < 1">
    <input type="submit"
           id="submit-tag"
           value="Add tag to checked files"
           ng-disabled="selected.length < 1"
           class='btn btn-sm btn-default'>
  </form>
  </div>

  <p ng-if='(SelectedFiles.selected | find_files).length == 0'>No information found for selected files.</p>

  <div app-view-segment="2"></div>
</div>
