<form class="resource-form" name="resource_form">
  <div class="row">
    <div class="col-md-6">
      <label>Title:</label> <input type="text" ng-model="form.title" ng-required="!form.date_expression">
    </div>
    <div class="col-md-6">
      <label>Level of description:</label> <select ng-model="form.level"
                                  ng-options="level for level in form.levels"
                                  required>
                                  </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>General note:</label><br> <textarea ng-model="form.note"></textarea>
    </div>
    <div class="col-md-6">
      <label>Conditions governing access note:</label><br> <textarea ng-model="form.accessrestrict_note"></textarea>
    </div>
  </div>
  <!-- Start and end dates are only in the form for creating a new item, not editing -->
  <div class="row" ng-if="form.start_date !== false &amp;&amp; form.end_date !== false">
  <div class="col-md-6">
    <label>Dates:</label>
    <input type="text" class="form-control" uib-datepicker-popup ng-model="form.start_date" is-open="form.status.start_date_opened" ng-required="true" close-text="Close"/>
    <button type="button" class="btn btn-default" ng-click="form.open_datepicker('start', $event)"><i class="fa fa-calendar"></i></button>
  </div>
  <div class="col-md-6">
    <label>Dates:</label>
    <input type="text" class="form-control" uib-datepicker-popup ng-model="form.end_date" is-open="form.status.end_date_opened" ng-required="false" close-text="Close"/>
    <button type="button" class="btn btn-default" ng-click="form.open_datepicker('end', $event)"><i class="fa fa-calendar"></i></button>
    <label>Expression:</label> <input type="text" ng-model="form.date_expression" ng-required="!form.title">
  </div>
  </div>
  <div class="btn-group" role="group">
    <button type="submit" class="btn btn-success" ng-click="form.ok()" ng-disabled="resource_form.$invalid">Save</button>
    <button type="submit" class="btn btn-danger" ng-click="form.cancel()">Cancel</button>
  </div>
</form>
