/* app css stylesheet */

.chart {
  height: 500px;
  width: 100%;
}

.tag {
  background: #555555;
  color: #f5f5f5;
  border-radius: 2px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin: 0.2em;
}

.disabled {
  color: gray;
  text-decoration: line-through;
}

#minimize-bar {
  margin: 0 2em;
  padding: 5px;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

/**
 * Limit the size of panel bodies to 500px at most, and
 * scroll within them.
 * It would be great to fix these to something relative to the
 * size of the screen, but I'm not sure how best to do that.
 */
.panel-body {
  overflow: auto;
  max-height: 500px;
}

.ui-panel {
  float: left;
  padding: 1em;
}

.nav-pane {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
}

treecontrol>ul>li {
  /* First tree element shouldn't be indented */
  padding-left: 0px;
}

.form-control {
  width: auto;
  display: inline;
}

fieldset {
  margin: 5px;
}

.preview-frame {
  resize: both;
  overflow: auto;
}

.preview-frame > iframe {
  width: 100%;
  height: 100%;
}

.resource-form {
  padding: 15px;
}

.digital-object-component-form {
  padding: 15px;
}

.modal-dialog {
  /* Navbar is 40px, so this gives a space of 15px in between. */
  margin-top: 55px;
}

.ui-droppable.expecting {
  background-color: #f5f5f5;
  padding: 5px;
}

.ui-draggable-dragging {
  padding: 2px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
}
