<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="appraisalTab" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="appraisalTab" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="appraisalTab" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="appraisalTab" ng-controller="MainController" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Appraisal tab</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/angular-tree-control/css/tree-control.css">
  <link rel="stylesheet" href="vendor/angular-tree-control/css/tree-control-attribute.css">
  <link rel="stylesheet" href="css/directory-picker.css">
  <link rel="stylesheet" href="css/file-explorer.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class='navbar-header'>
        <a class="navbar-brand">Archivematica</a>
        <ul class="nav navbar-nav" role='menubar'>
          <li><a>Transfer</a></li>
          <li class="active"><a>Appraisal</a></li>
          <li><a>Ingest</a></li>
          <li><a>Archival storage</a></li>
          <li><a>Preservation planning</a></li>
          <li><a>Access</a></li>
          <li><a>Administration</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <form id='search_form'>
  <div id='search_form_container'>
    <div class="advanced_search_form_rows_container">
    <div class="advanced_search_form_row" style="clear:both">
    <div class="advanced_search_form_field_op" style="float:left">
    </div>
    <div class="advanced_search_form_field_query" style="float:left">
    <input class="aip-search-query-input" title="search query"></div>
    <div class="advanced_search_form_field_field" style="float:left">
    <select title="field name">
    <option value="">Any</option>
    <option value="filename">File name</option>
    <option value="file_extension">File extension</option>
    <option value="accessionid">Accession number</option>
    <option value="ingestdate">Ingest date (YYYY-MM-DD)</option>
    <option value="sipuuid">SIP UUID</option>
    </select></div>
    <div class="advanced_search_form_field_type" style="float:left">
    <select title="query type">
    <option value="term">Keyword</option>
    <option value="string">Phrase</option>
    </select></div>
    </div>
    <div style="clear:both"><a>Add New</a></div>
    </div>
  </div>
  <div id='search_form_submit_container'>
    <input type='button' id='search_submit' value='Search transfer backlog'>
  </div>
  </form>

  <div style='clear:both'></div>

  <div class='facet-box panel panel-body form' ng-controller="FacetController">
    <fieldset>
      <label for='puid-facet'>PUID</label>
      <select ng-model="puid" class='form-control' id='puid-facet'>
        <option value="">All</option>
        <option ng-repeat="format in transfers.formats" ng-if="format.puid" value="{{ format.puid }}">{{ format.title }} ({{ format.puid }})</option>
      </select>

      <label for='extension-facet'>File extension</label>
      <select ng-model="extension" class='form-control' id='extension-facet'>
        <option value="">All</option>
        <option ng-repeat="format in transfers.formats" ng-if="format.extension" value="{{ format.extension }}">{{ format.title }} ({{ format.extension }})</option>
      </select>
    </fieldset>

    <fieldset>
      <label for='tag-facet'>Tags</label>
      <select ng-model="tag_facet" class='form-control' id='tag-facet'>
        <option value="">All</option>
        <option ng-repeat="tag in tags.tags" value="{{ tag }}">{{ tag }}</option>
      </select>
    </fieldset>

    <fieldset>
      <label for='start-date-facet'>Date range start</label>
      <input type="text" ng-model="date_start" class='form-control' id='start-date-facet'/>
      <label for='end-date-facet'>Date range end</label>
      <input type="text" ng-model="date_end" class='form-control' id='end-date-facet'/>
    </fieldset>

    <ul class='list-inline'>
      <li ng-repeat="facet in Facet.facet_list">
        {{ facet.name }}: {{ facet.text }} <span ng-click="remove_facet(facet.facet, facet.id);"><i class="fa fa-times"></i></span>
      </li>
    </ul>
  </div>

  <div class='col-md-5' id='left-pane'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        Backlog
      </div>
      <div class="transfer-tree panel-body" ng-controller="TreeController">
        <treecontrol class="tree-classic"
                     tree-model="transfers.data"
                     options="options"
                     on-selection="track_selected(node, selected)"
                     filter-expression="filter_expression"
                     filter-comparator="filter_comparator">
          <span tree-draggable helper="helper" uuid="{{ node.id }}">
            {{ node.title }} <span class="tag" ng-repeat="tag in node.tags">{{ tag }} <span ng-click="remove_tag(id, tag)"><i class="fa fa-minus-square"></i></span></span>
          </span>
        </treecontrol>
      </div>
    </div>
  </div>

  <div class='col-md-7' id="right-pane">
    <ul class="nav nav-tabs" role='menu'>
      <li ng-class="{ active: $routeSegment.contains('analysis') }">
        <a href="#{{ $routeSegment.getSegmentUrl('analysis') }}">Analysis</a>
      </li>
      <li ng-class="{ active: $routeSegment.contains('tag') }">
        <a href="#{{ $routeSegment.getSegmentUrl('tag') }}">Tag</a>
      </li>
      <li ng-class="{ active: $routeSegment.contains('examine_contents') }">
        <a href="#{{ $routeSegment.getSegmentUrl('examine_contents', {type: ''}) }}">Examine contents</a>
      </li>
      <li ng-class="{ active: $routeSegment.contains('preview') }">
        <a href="#{{ $routeSegment.getSegmentUrl('preview', {id: ''}) }}">Preview file</a>
      </li>
      <li ng-class="{ active: $routeSegment.contains('archivesspace') }">
        <a href="#{{ $routeSegment.getSegmentUrl('archivesspace') }}">ArchivesSpace</a>
      </li>
    </ul>
    <div class='panel panel-default panel-tab panel-body' app-view-segment="0"></div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-route-segment/build/angular-route-segment.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jqueryui/jquery-ui.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/restangular/dist/restangular.min.js"></script>
  <script src="bower_components/angular-charts/dist/angular-charts.min.js"></script>
  <script src="vendor/angular-tree-control/angular-tree-control.js"></script>
  <script src="app.js"></script>
  <script src="tree/tree.directive.js"></script>
  <script src="services/archivesspace.service.js"></script>
  <script src="services/facet.service.js"></script>
  <script src="services/file.service.js"></script>
  <script src="services/selected.service.js"></script>
  <script src="services/tag.service.js"></script>
  <script src="services/transfer.service.js"></script>
  <script src="filters/aggregation.filter.js"></script>
  <script src="filters/facet.filter.js"></script>
  <script src="archivesspace/archivesspace.controller.js"></script>
  <script src="analysis/analysis.controller.js"></script>
  <script src="examine_contents/examine_contents.controller.js"></script>
  <script src="facet_selector/facet_selector.controller.js"></script>
  <script src="preview/preview.controller.js"></script>
  <script src="tag/tag.controller.js"></script>
  <script src="tree/tree.controller.js"></script>
  <script src="report/report.controller.js"></script>
  <script src="visualizations/visualizations.controller.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
