<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="appraisalTab" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="appraisalTab" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="appraisalTab" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="appraisalTab" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Appraisal tab</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="bower_components/jqtree/jqtree.css">
  <link rel="stylesheet" href="bower_components/jqtree/static/bower_components/jquery-cookie/jquery.cookie.js">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/directory-picker.css">
  <link rel="stylesheet" href="css/file-explorer.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">

        <a class="brand">Archivematica</a>

        <ul class="nav">

        <li class="{% active request url_transfer %}"><a>Transfer</a></li>
        <li class="{% active request url_ingest %}"><a>Ingest</a></li>
        <li class="{% active request url_archival_storage %}"><a>Archival storage</a></li>
        <li class="{% active request url_fpr %}"><a>Preservation planning</a></li>
        <li class="{% active request url_access %}"><a>Access</a></li>
        <li class="{% active request url_administration %}"><a>Administration</a></li>

        </ul>

      </div>
    </div>
  </div>

  <div ng-view></div>

  <div style="padding: 0 0 60px 0;" ng-controller="FacetController">
    PUID:
    <select ng-model="puid">
      <option value="">All</option>
      <option ng-repeat="format in formats" value="{{ format.puid }}">{{ format.label }} ({{ format.puid }})</option>
    </select>

    File extension:
    <select ng-model="extension">
      <option value="">All</option>
      <option ng-repeat="format in formats" value="{{ format.extension }}">{{ format.label }} ({{ format.extension }})</option>
    </select>

    <div>
      <label>Date range start: <input type="text" ng-model="date_start"/></label>
      <label>Date range end: <input type="text" ng-model="date_end"/></label>
    </div>
  </div>

  <div ng-controller="TreeController" style='float:left; width: 460px;'>
    <tree id="tree1" tree-data="data"/>
  </div>

  <div ng-controller='ReportController' style='margin-left: 30px; float:left;'>
    <h2>Report</h2>
    <b><ng-pluralize count="(records.selected | filter:{root: true}).length" when="{'1': '1 transfer', 'other': '{} transfers'}"></ng-pluralize></b>, <ng-pluralize count="records.selected.length" when="{'1': '1 object', 'other': '{} objects'}"></ng-pluralize></b> selected<br>

    <div class="span8"><i>File types:</i><br></div>
    By PUID:<br>
    <table>
    <tr ng-repeat="record in records.selected | facet | puid_data">
      <td><a target="_blank" href="http://apps.nationalarchives.gov.uk/pronom/{{ record.puid }}">{{ record.puid }}</a></td>
      <td>{{ record.data.count }} objects</td>
      <td>{{ record.data.size }} MB</td>
    </tr>
    </table>
  </div>

  <div ng-controller='VisualizationsController'>
    <div ac-chart="puid_chart_type" ac-data="records.selected | puid_data | puid_graph" ac-config="puid_config" id="chart" class="chart">
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jqtree/tree.jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src='bower_components/angular-charts/dist/angular-charts.js'></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/restangular/dist/restangular.min.js"></script>
  <script src="app.js"></script>
  <script src="services/facet.service.js"></script>
  <script src="services/file.service.js"></script>
  <script src="services/selected.service.js"></script>
  <script src="services/transfer.service.js"></script>
  <script src="filters/aggregation.filter.js"></script>
  <script src="filters/facet.filter.js"></script>
  <script src="facet_selector/facet_selector.controller.js"></script>
  <script src="tree/tree.controller.js"></script>
  <script src="report/report.controller.js"></script>
  <script src="visualizations/visualizations.controller.js"></script>
  <script src="directives/jqTree.directive.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
